<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="uk-height-1-1">
<div id="app" class="uk-width-1-1 uk-height-1-1"></div>
<script src="~/js/home.bundle.js"></script>
</body>
</html>

